This is an example config for how to use this GlobalSSH server with apache2 ssh proxying. <br>
Add the following snipplet to your <b>~/.ssh/config</b>: <br> <br>

<code>
Host globalsshproxy <br>
&nbsp;&nbsp;&nbsp;&nbsp;    HostName {{ proxy_fqdn }} <br>
&nbsp;&nbsp;&nbsp;&nbsp;    ProxyCommand proxytunnel -q -E -p PROXY_PUBLIC_IP_OR_FQDN:443 -d 127.0.0.1:22 <br>
&nbsp;&nbsp;&nbsp;&nbsp;    User {{ globalssh_tunnel_user }} <br>
&nbsp;&nbsp;&nbsp;&nbsp;    Port 443 <br> <br>
</code>

GlobalSSH-Call becomes: <br>
<code>ssh -R *:SOME_FREE_PORT:DEST_IP:DEST_PORT globalsshproxy <code>
